@import 'base';

main {
    background: $bg;
}

.hero {
    background: $brand;
    height: 300px;
}

.posts {
    max-width: 1024px;
}

.sidebar {
    min-width: 375px;
    // position: fixed;
    // right: 0;
    // top: 100px;
}

.container {
    padding: $bigSpacer;
}