@use 'sass:list';
@import 'base';

@for $i from 1 through 4 {
    h#{$i} {
        font-family: $font-heading;
        font-size: list.nth($font-sizes, $i);
    }
}

h1, h4 {
    color: $bg;
}

h2, h3 {
    padding: $bigSpacer;
    color: $accent;
}

h4 {
    font-style: italic;
}