@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);
body {
  background: #e09f3e;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e09f3e;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

hr {
  width: 75%;
  margin: 0 auto;
}

/* links and buttons */
a, a:visited, a:hover {
  text-decoration: none;
}

.title-link, .title-link:visited, .comment-link, .comment-link:visited {
  color: #000;
}

.title-link:hover, .comment-link:hover {
  color: #694a68;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #694a68;
}

a, button {
  transition: all 0.2s ease-in-out;
}

.nav-button {
  background: none;
  border: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

.btn {
  background: #694a68;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
  font-size: smaller;
}

.btn:hover {
  background: #80597e;
}

.edit-link, .edit-link:visited {
  color: #FFF;
}

.back-link {
  color: #694a68;
}

.back-link:hover {
  color: #80597e;
}

.edit-link {
  display: block;
  background: #694a68;
  width: 100%;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
}

.no-posts {
  color: #e09f3e;
}

.no-posts:hover {
  font-style: italic;
  text-decoration: underline;
}

/* posts */
.post {
  background: #f2f2f2;
}

.post-title {
  font-family: "Averia Serif Libre", cursive;
  color: #694a68;
  font-weight: bold;
  font-size: 24px;
}

.post-list-item {
  width: 100%;
  border-bottom: 1px solid #694a68;
}

.post-list-item:last-child {
  border: none;
}

#post-body {
  height: 150px;
  width: 300px;
}

.meta {
  font-size: 12px;
  color: #828282;
}

.dashboard-post {
  border: 1px solid #694a68;
  width: 200px;
  height: max-content;
  display: inline-block;
}

.dashboard-posts {
  padding-left: 20px;
}

/* comments */
.comment:nth-child(2n) {
  background: #e3e3e3;
}

.comment .meta {
  color: #000;
}

#comment-body {
  height: 100px;
  width: 300px;
}

/* forms */
.form-container {
  margin: 20px auto;
  max-width: 475px;
}

.form-input {
  margin-bottom: 10px;
  max-width: 45%;
}

label {
  font-size: 12px;
  font-style: italic;
  color: #694a68;
}

.new-post-form {
  background: #e09f3e;
  margin: 0 auto;
  max-width: 575px;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
}

body {
  background: #e09f3e;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #f2f2f2;
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
}

header {
  max-width: 1024px;
  margin: 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 375px) {
  h1 {
    font-size: 36px;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  .flex-col-xs {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}
body {
  background: #e09f3e;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Averia Serif Libre", cursive;
  color: #f2f2f2;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-style: italic;
}

h2, h3 {
  padding: 20px;
  color: #694a68;
}

body {
  background: #e09f3e;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.align-start {
  align-items: flex-start;
}

.d-none {
  display: none;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
