<!-- <article class="post p-1">
    <div class="post-title mb-1">
        <a href="/post/{{post.id}}" target="_blank" class="title-link">{{post.title}}</a>
    </div>
    <div class="post-body">
        <p class="post-text mb-1">{{post.body}}</p>
        <div class="meta">
            By {{post.user.username}} {{#if post.byUser}} (You!) {{/if}}▪ {{post.created_at|format_date}} ▪
            <a href="/post/{{id}}" class="comment-link">{{comments.length}}
                {{post.comments|length}} {{post.comments|length|format_plural('comment')}}</a>
        </div>
    </div>
</article> -->

<article class="post p-1">
    <div class="post-title mb-1">
        <a href="/post/3" target="_blank" class="title-link">Post Title</a>
    </div>
    <div class="post-body">
        <p class="post-text mb-1">Lorem ipsum</p>
        <div class="meta">
            By user ▪ date ▪
            <a href="/post/3" class="comment-link">5 comments</a>
        </div>
    </div>
</article>