{% extends "layout/main.html" %}

{% block body %}
<section class="hero">
    Tech minds think alike.
</section>

<section class="flex-row-reverse">

    
    <section class="posts">
        
        {% if posts|length > 0 %}
        <ul class="post-list flex-column">
            {% for post in posts %}
            <li class="post-list-item">
                {% include "partials/post-info.html" %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        
        <h2>There are no posts yet! Why don't you <a href="/dashboard" class="no-posts">write one</a>?</h2>
        
        {% endif %}
    </section>
    
    <section class="sidebar">
        <h3>
            Browse topics
        </h3>
        <div class="container">
            
            <div>
                <button class="btn">
                    javascript
                </button>
                <button class="btn">
                    python
                </button>
                <button class="btn">
                    css
                </button>
            </div>
        </div>
    </section>
    
</section>
    {% endblock %}